@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mix;

.formRegister {
  @include mix.form-layout;
}

.alert{
  color: vars.$stone-brown;
  font-size: 1rem;
  margin-top: 0.4rem;
}


.logoChord {
  @include mix.logo-center(200px);
}

form {
  @include mix.form-container;
}

.inputName,
.inputEmail,
.inputPassword {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  @include mix.label-base;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @include mix.input-base;
}

.inputSubmit {
  text-align: center;
  margin-top: 1rem;
}

button[type="submit"] {
  @include mix.button-base(vars.$cost-wold, vars.$stone-brown, 35%);
}

a {
  @include mix.link-base;
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
