<div class="logoChord">
  <img src="/ChordMaster.png" alt="ChordMaster Logo" />
</div>
<div class="formRegister">
  <form (ngSubmit)="onSubmit()">
    <div class="inputName">
      <label for="name">Enter name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Enter your full name" required>
    </div>

    <div class="inputEmail">
      <label for="email">Enter email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="jonh.doe@example.com" required>
    </div>

    <div class="inputPassword">
      <label for="password">Enter password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required>
    </div>

    <div class="inputSubmit">
      <a href="/login">Sign In</a>
      <button type="submit">Register</button>
    </div>
  </form>
</div>
