@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mix;

.side-panel{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 8%;
  h2 {
    color: vars.$stone-brown;
    font-size:25px;
    margin: 0;
  }
}

.side-panel__user{
  display: flex;
  align-self: last baseline;
  gap: 10px;

}

.side-panel__btn {
  @include mix.onclick-button;
  background: none;
  border: none;
  padding: 0;

  img {
    width: 70%;
    height: 70%;
  }
}


