@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mix;

.formLogin {
  @include mix.form-layout;
}

.logoChord {
  @include mix.logo-center(200px);
}

form {
  @include mix.form-container;
}

.inputMail,
.inputPassword {
  margin-bottom: 1.8rem;
  text-align: left;
}

label {
  @include mix.label-base;
}

input[type="email"],
input[type="password"] {
  @include mix.input-base;
}

.inputSubmit {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  button {
    margin: 0.8rem;
  }

}

button[type="submit"] {
  @include mix.button-base(vars.$cost-wold, vars.$stone-brown, 35%);
}

a {
  @include mix.link-base;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

p {
  color: vars.$stone-brown;
  background-color: vars.$revere-pewter;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 1rem;
  border: 1px solid vars.$cost-wold;
}


