<app-header></app-header>

<main>
  <div class="main-section__specs">
    <div class="main-section__title">
      <p>
        Title: <br />
        Amazing Song
      </p>
    </div>
    <div class="main-section__tone-tempo">
      <p >Tone: {{tone}} <br />Tempo: {{tempo}} BPM</p>
    </div>
  </div>
  <div class="main-player">
    <button class="main-player__skip-backward" aria-label="Skip Backward">
      <img src="/skip-backward.png" alt="Skip Backward" />
    </button>
    <button class="main-player__play-pause" aria-label="Play/Pause">
      <img src="/play-btn.png" alt="Play/Pause" />
    </button>
    <button class="main-player__skip-forward" aria-label="Skip Forward">
      <img src="/skip-forward.png" alt="Skip Forward" />
    </button>
  </div>
  <div class="main-boxes">
    <div class="main-boxes__side">
      <p class="main-section__p">C</p>
    </div>
    <div class="main-boxes__big">
      <p class="main-section__p">Am</p>
    </div>
    <div class="main-boxes__side">
      <p class="main-section__p">F</p>
    </div>
  </div>
</main>
