@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mix;

p{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: vars.$stone-brown;
  text-align: center;
  margin-top: 5%;
  font-size: 1.3rem;
}

.main-section__specs{
  display: flex;
  justify-content: space-between;
  margin: 5% 7% 0 7%;
}

.main-section__title, .main-section__tone-tempo{
  display: flex;
  text-align: center;
}
.main-player{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}


.main-player__skip-backward, .main-player__play-pause, .main-player__skip-forward {
  @include mix.onclick-button;;
  background: none;
  border: none;
  padding: 0;
  margin: 0 10px 0 10px;
  cursor: pointer;

  img {
    width: 70%;
    height: 70%;
  }
}

.main-player__play-pause {
  @include mix.onclick-button;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}
