@use './styles/variables' as vars;
@import url(https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap);


* {
  font-family: vars.$font-family;

  // Eliminar outline azul y highlights táctiles
  &:focus,
  &:focus-visible,
  &:active,
  &:focus-within {
    outline: none !important;
    box-shadow: none !important;
  }

  // Eliminar highlight táctil en móviles
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: vars.$revere-pewter;
  background-image:
    //linear-gradient(rgba(231, 224, 208, 0.7), rgba(207, 200, 185, 0.7)),
    url('../public/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Eliminar outline específicamente en elementos interactivos
button,
input,
textarea,
select,
a,
div,
span,
[tabindex],
[role="button"],
.btn,
.form-control,
.history-item,
.delete-btn,
.custom-btn {
  &:focus,
  &:focus-visible,
  &:active,
  &:hover:focus,
  &:focus-within {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
  }
}

// Eliminar específicamente el outline azul de WebKit/Blink
*:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
}

// Permitir selección de texto en inputs y textos
input,
textarea,
[contenteditable],
p,
span,
h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

