/* You can add global styles to this file, and also import other style files */
@import './styles/variables';

* {
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  background-color: $fossil;
  background-image:
    linear-gradient(rgba(231, 224, 208, 0.7), rgba(207, 200, 185, 0.7)),
    url('../public/image.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

